<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
       
            <img src="images/logo-mercado-liebre.svg">
       
        <div class="search_bar">
            <input type="search" placeholder="escriba el producto a buscar?">
            <i class="fa fa-search"></i>
        </div>
       
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="nav_bar">
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            
            <ul class="login_bar">
                <li>
                    <a href="">Crea tu Cuenta</a>
                    <i class="fa fa-address-card"></i>
                </li>
                <li>
                    <a href="">Ingresa</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras</a>
                    <i class="fa fa-shopping-cart"></i>
                </li>
            </ul>
        </nav>
        <div class="buger-menu">
            <i class="fa fa-bars "></i>
        </div>
        
    </header>
    <!-- banner o slider -->
    <div class="banner">
        <img src="images/img-home-banner.jpg"/>
    </div>
    <main>
        <h3>Basado en tu ultima visita</h3>
        <section class="ultima_visita">
            <article>
                <img src="images/img-cafetera-moulinex.jpg" />
                <span>
                    <i class="fa fa-truck productos_logo"></i>
                </span>
                <p class="ultima_visita_precio">$6.770</p>
                <p class="ultima_visita_descuento">40% OFF</p>
                <p class="ultima_visita_descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg"/>
                <p class="ultima_visita_precio">$230.000</p>
                <p class="ultima_visita_descuento">20% off</p>
                <p class="ultima_visita_descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg"/>
                <p class="ultima_visita_precio">$70.500</p>
                <p class="ultima_visita_descuento">10% off</p>
                <p class="ultima_visita_descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg"/>
                <p class="ultima_visita_precio">$23.200</p>
                <p class="ultima_visita_descuento">5% off</p>
                <p class="ultima_visita_descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
        <section class="ofertas">
            <article>
                <img src="images/img-cafetera-moulinex.jpg"/>
                <p class="ofertas_precio">$6.770</p>
                <p class="ofertas_descuento">40% OFF</p>
                <p class="ofertas_descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg"/>
                <p class="ofertas_precio">$230.000</p>
                <p class="ofertas_descuento">20% off</p>
                <p class="ofertas_descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg"/>
                <p class="ofertas_precio">$70.500</p>
                <p class="ofertas_descuento">10% off</p>
                <p class="ofertas_descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg"/>
                <p class="ofertas_precio">$23.200</p>
                <p class="ofertas_descuento">5% off</p>
                <p class="ofertas_descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <article class="foo">
            <i class="fa fa-credit-card"></i>
            <p class="foo_titulares">Paga con tarjeta o en efectivo</p>
            <p class="foo_descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="foo">
            <i class="fa fa-gift"></i>
            <p class="foo_titulares">Envío gratis desde $ 2.500</p>
            <p class="foo_descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="foo">
            <i class="fas fa-user-shield"></i>
            <p class="foo_titulares">Seguridad, de principio a fin</p>
            <p class="foo_descripcion">¿No te gusta? ¡Devolvedlo! En Mercado Liebre, no hay nada que no pueda hacer, porque estas siempre protegid@</p>
        </article>
        <article class="foo">
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </article>
    </footer>
</body> 
</html>